body,
html {
  height: 100%;
}

body {
  font-family: sans-serif;
  color: #ddfff7;
  font-size: 3rem;
  background: rgb(255, 210, 252);
  background: linear-gradient(
    207deg,
    rgba(255, 210, 252, 1) 0%,
    rgba(233, 128, 252, 1) 65%,
    rgba(185, 106, 201, 1) 100%
  );
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 80px 200px 80px;
}

button {
  border: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

a.navbar {
  text-decoration: none;
  color: #8a8eff;
}

a.navbar:hover,
a.navbar:active {
  color: #78efa8;
}

.navbar-links {
  margin: 64px;
  padding: 32px 40px;
  background: rgba(255, 255, 255, 0.5);
  color: #8a8eff;
  border-radius: 4px;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
