body,
html {
  height: 100%;
}

body {
  font-family: sans-serif;
  color: #ddfff7;
  font-size: 1rem;
  font-weight: 600;
  /* background: rgb(255, 210, 252);
  background: linear-gradient(
    207deg,
    rgba(255, 210, 252, 1) 0%,
    rgba(233, 128, 252, 1) 65%,
    rgba(185, 106, 201, 1) 100%
  );
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; */
  background: black;
}

button {
  border: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a.logo {
  color: #78efa8;
}

a.navbar {
  color: #8a8eff;
  font-weight: 700;
}

a.logo:hover,
a.logo:active,
a.navbar:hover,
a.navbar:active {
  color: white;
}

input.navbar-search {
  border: 0;
  border-radius: 1px;
  background: transparent;
  font-family: inherit;
  padding: 8px 24px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

input.navbar-search:focus {
  outline: none;
  background: rgba(138, 142, 255, 0.3);
}

::placeholder {
  color: rgba(138, 142, 255, 0.5);
  opacity: 1;
}

.search-container {
  border-bottom: 2px solid #8a8eff;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px;
  gap: 24px;
  flex-wrap: wrap;
}

.search-links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
  flex-wrap: wrap;
}

.logo-container {
  font-size: 3rem;
}

.navbar-links-container {
  width: 20vw;
  min-width: 360px;
  color: #8a8eff;
  border-radius: 4px;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
